@import url("https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap");

.body {
  font-family: "Lato", sans-serif;
  color: var(--main-white-color);
  font-size: 4vh;
  /* margin: 10vw; */
  text-align: justify;
  cursor: url("Union.cur"), auto;
  box-sizing: border-box;
  text-align: left;
  word-wrap: break-word;
  width: 100%;
  margin: 5vh auto;
}
.title {
  font-size: 7vh;
  font-family: "Roboto Slab", serif;
  color: var(--main-white-color);
  margin: 20vh auto auto auto;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  text-align: left;
}

.contentContainer {
  padding: 0 10vw;
  width: 100;
}

.sidebardiv {
  z-index: 100;
}

