.editableInput {
  font-family: inherit;
  color: #fffaff;
  box-sizing: content-box;
  background-color: transparent;
  border: 0.05em solid transparent;
  border-radius: 0.2em;
  outline: none;
  display: block;
  word-wrap: break-word;
  margin: 0;
  overflow: hidden;
  line-height: calc(100% + 1em);
  padding: 2vh;
  width: inherit;
  height: inherit;
}

.editHover:hover {
  border: 0.05em solid #556974;
  border-radius: 0.2em;
}

.editEditableInputTitle {
  border: 0.05em solid #67b0d6;
  box-sizing: content-box;
  resize: none;
  width: inherit;
  border-radius: 0.2em;
  outline: none;
  font-size: inherit;
  display: block;
  word-wrap: break-word;
  margin: 0;
  overflow: hidden;
  line-height: calc(100% + 1em);
  padding: 2vh;
}
