.button {
  cursor: pointer;
  margin: 3vh 1vw;
}

.button:hover {
  transform: scale(1.08);
}
.button:active {
  transform: scale(1);
}

.navigationbar_main {
  position: absolute;
  display: none;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    var(--article-navbar-one) 0%,
    var(--article-navbar-two) 90%
  );
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.titleBox {
  background-color: rgba(68, 68, 68);
  max-width: 15vw;
  width: 30vmin;
  height: 4vh;
  display: flex;
  color: white;
  line-height: 4vh;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.moreTitles {
  width: 4vh;
  height: 4vh;
  background-color: rgba(98, 98, 98, 0.64);
  display: flex;
  flex-shrink: 0;
  line-height: 4vh;
  cursor: pointer;
}

.titleText {
  padding: 0 1vh;
  font-size: 2vh;
  cursor: pointer;
}
