.articleCard_main {
  max-width: 20vw;
  min-width: 260px;
  margin: 0.8rem;
}

.articleCard-img-container {
  position: relative;
  max-height: 10vw;
  min-height: 180px;
}

.articleCard-img {
  z-index: 9;
  object-fit: cover;
  width: 100%;
}

.articlCard-head {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0;
  height: 4vh;
}

.articlCard-head-batchName {
  display: flex;
  align-self: flex-end;
  width: 200px;
  font-size: 1.6rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.articleCard-head-time {
  display: flex;
  align-self: flex-end;
  font-size: 1.8rem;
  text-align: right;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  color: var(--white-color);
}

.articleCard-tags {
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  color: var(--gray-one-color);
  text-align: left;
  align-self: flex-end;
  height: 2.5vh;
  padding: .5rem;
}

.articleCard-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 1rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  background-color: var(--transparent-color-two);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 1rem;
}

.articleCard-reads {
  padding: 1px 6px;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white-color);
  margin: 0;
  letter-spacing: -1px;
}

.articleCard-title {
  color: var(--white-color);
  font-family: "Maven Pro", sans-serif;
  font-size: 2.4rem;
  margin: 0.2rem 2rem 0.5rem 0.1rem;
  text-align: left;
  font-weight: 300;
  line-height: 2.8rem;
}

.articleCard-footer {
  display: flex;
  justify-content: space-between;
}

.articleCard-footer-name {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-two-color);
  margin: 0 1rem;
}

.articleCard-footer-articleAge {
  font-family: "Maven Pro", sans-serif;
  color: var(--gray-two-color);
  margin: 0 1.5rem;
}

/* .articlCard-overlay-foot {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
} */

/* .articleCard-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* @media only screen and (max-device-width: ) */

/* 
.articleCard_image {
}

.articleCard_name_div {
  padding: 5px 0;
}

.articleCard_name_link {
  text-decoration: none;
  color: var(--main-white-color);
  font-family: "Roboto Slab", serif;
}

.articleCard_name_link:hover {
    text-decoration: none;
} */
