:root {
  --sidebar-width: 25vw
}


.sidebar {
  background-color: var(--sidebar-color);
  width: 25vw;
  height: 100vh;
  left: 0px;
  top: 0px;
}

.sidebarCollpased {
  width: 3vw;
}

/* orange: #cf5c36 */
/* White: #FFFAFF */
